<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Travel Almanac</div>
     </div>
</nav>


<div class ="container">  
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-9 blue"><h3>Travel Calendar</h3></div>
  </div>
</br>
  <div class="row">
          <div class="col-sm-2"></div>
          <div class = "col-sm-7 boxed">
              <div class="row header">
                  <div class ="col-sm-2">Month</div>
                  <div class="col-sm-4">Location</div>
                  <div class="col-sm-3">Country</div>
                  <div class="col-sm-3">Region</div>
              </div>
              <div class="row">
                <% @month_locations_paginated.each do |month| %>
                        <div class ="row">
                          <div class = "col-sm-2"><%= month.m_name %></div>
                         <div class = "col-sm-4"><%= month.l_name %></div>
                         <div class = "col-sm-3"><%= month.l_country %></div>
                         <div class = "col-sm-3"><%= month.l_region %></div>
                      </div>
                    <% end %>
                  <%= will_paginate @month_locations_paginated %>   
              </div>
          </div> 
        <div class="col-sm-2">
            <div class = "row">
              <div class="col-sm-12"><strong>Filter by Month</strong></div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                  <% @names.each do |name| %>
                    <li>
                      <%= link_to name, months_path(month_filter: name), class: 'label label-info' %>
                    </li>
                  <% end %>
                    <li>
                      <%= link_to "All", months_path, class: 'label label-info' %>
                    </li>
              </div>
            </div>
        </div>
      </div>
 </br>
</br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <div class="col-sm-2">
                <button class='btn btn-primary'><%= link_to 'Home',travel_calendars_path %></button>
            </div>
            <div class="col-sm-3">
                <button class='btn btn-primary'><%= link_to 'Location List',locations_path %></button>
            </div>
            <div class="col-sm-3">
               <button class='btn btn-primary'><%= link_to 'Monthly Summary',summary_months_path %></button>
            </div>
        </div> 
    </div> 
</div>

