<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Travel Almanac</div>
     </div>
</nav>
</br>
<div class="container">
  <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-9 blue"><h3>Monthly Summary</h3></div>
  </div>
</br>
</br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <% @months.each do |month| %>
        <div class="row">
          <div class="col-sm-2"><strong><%= month.name %></strong></div>
          <div class="col-sm-10">
            <strong><%= month.locations.count %>  Locations: </strong>
              <% count = 0 %>
              <% month.locations.each do |location| %>
                  <% count +=1 %>
                  <% if location.months.length < 12 && count < month.locations.length %>
                    <%= location.name %>, 
                  <% elsif count == month.locations.length %>
                    <%= location.name %>, and year round destinations.
                  <% else %>
                    <% next %>
                  <% end %>
              <% end %>  
                    </br>
                    </br>
              <% @unique_months.each do |key, value| %>
                          <% if key == month.name && value.is_a?(String) %>
                                 <%= month.name %> is one of the few times a year you can visit <%= value %>.
                          <% elsif key == month.name && value.is_a?(Array) %>
                                 <%= month.name %> is one of the few times a year you can visit
                                 <% value.each do |val| %>
                                    <% if val == value.last %>
                                      and <%= val %>.
                                    <% elsif value.length == 2 %>
                                        <%= val %>
                                    <% else %>
                                        <%= val %>,
                                    <% end %>
                                  <% end %>
                          <% else %>
                             <% next %>
                          <% end %>
                    <% end %>
          </div>
        </div>
      </br>
      <% end %>
    </div>
</br>
</br>
    <div class="col-sm-2">
            <div class = "row">
              <div class="col-sm-12"><strong>Filter by Month</strong></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <%= form_tag summary_months_path, method: :get do %>
                     <% @multi_months.each do |month| %>
                        <li class="no-bullets">
                          <%= check_box_tag 'ids[]', month.id %> <%= month.name %>
                        </li>
                      <% end %>
                    </br>
                    <%= submit_tag 'Filter', class: 'btn btn-primary', :name => nil %>
                  <% end %>
                </div>
            </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
        <div class="col-sm-2">
            <button class='btn btn-primary'><%= link_to 'Home',travel_calendars_path %></button>
        </div>
        <div class="col-sm-3">
            <button class='btn btn-primary'><%= link_to 'Location List',locations_path %></button>
        </div>
        <div class="col-sm-3">
            <button class='btn btn-primary'><%= link_to 'Full Month List', months_path %></button>
        </div>
    </div> 
  </div> 
</div>
</div>

  </div>
</div>
  