<nav class="navbar navbar-default">
   <div class="container-fluid">
       <div class="navbar-header">Travel Almanac</div>
    </div>
</nav>

<div class="container">
	<div class="col-sm-1"></div>
	<div class="col-sm-7">
		<div class="row">
	     	<div class="col-sm-12 blue"><h3>Welcome to the Travel Almanac</h3></div>
	    </div>
</br>
		<div class="row">
			<div class="col-sm-12">It's currently <strong><%= @current_month %></strong>.
				You can visit <% @current_month_locations.each do |location| %> 
					<% x = @current_month_locations.length %>
					<% if location == @current_month_locations.last %>
						and <%= location.name %>
					<% else %>
						<%= location.name %>;
					<% end %>
				<% end %>
					this month.</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-12"><strong>Year-Round Destinations include: </strong>
				<% @year_round_locations.each do |location| %>
					<% x = @year_round_locations.length %>
					<% if location == @year_round_locations.last %>
						and <%= location.name %>, <%= location.country %>.
					<% else %>
						<%= location.name %>, <%= location.country %>;
					<% end %>
				<% end %>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-12">
				<% @best_months.each do |month| %>
						<% x = @best_months.length %>
						<% if x = 1 %>
							<strong><%= month %></strong> is the best time to travel,	
						<% elsif month == @best_months.last %>
							and <strong><%= month %></strong> are the best times to travel,
						<% else %>
							<strong><%= month %></strong>,
						<% end %>
				<% end %>
				when you can visit <strong><%= @max_count %></strong> destinations.
			</div>
		</div>
		</br>
		</br>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<button class='btn btn-info'><%= link_to 'Add a new Item to the Travel Calendar', new_location_path %></button>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	<div class="col-sm-2">
		</br>
		</br>
		</br>
		</br>
		<div class="row">
			<button class='btn btn-primary'><%= link_to 'Travel Calendar',months_path %></button>
		</div>
	</br>
		<div class="row">
			<button class='btn btn-primary'><%= link_to 'Locations',locations_path %></button>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>