<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Travel Almanac</div>
     </div>
</nav>
<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @travel_calendar.location.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @travel_calendar.month.name %>
</p>

<%= link_to 'Edit', edit_travel_calendar_path(@travel_calendar) %> |
<%= link_to 'Back', months_path %>
