<div class="row">
	<div class = "col-sm-2"><%= link_to truncate(location.name, length: 16, separator: ' '), location %></div>
	<div class="col-sm-2"><%= location.country %></div>
	<div class = "col-sm-2"><%= truncate(location.region, length: 20, separator: ',') %></div>
	<div class = "col-sm-6">
		<% if @year_round_locations.include?(location) %>
			Year Round
		<% else %>
			<% location.months.each do |month| %>
				<% if month == location.months.last && location.months.length != 1 %> 
					and <%= month.name %>
				<% elsif location.months.length == 1 || location.months.length == 2 %>
					<%= month.name %>
				<% else %>
					<%= month.name %>, 
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
