<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">Travel Almanac</div>
     </div>
</nav>
</br>
<div class="container">
	<div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-8 blue"><h3>Locations</h3></div>
    </div>
</br>
	<div class="row">
		<div class = "col-sm-1"></div>
		<div class = "col-sm-9">
			<div class= "boxed">
				<div class="row header">
					<div class ="col-sm-2">Name</div>
					<div class="col-sm-2">Country</div>
					<div class="col-sm-2">Region</div>
					<div class="col-sm-6">When to Visit</div>
				</div>
				<div class="location-list">
					<%= render @locations %>
					<%= will_paginate %>
				</div>
			</div>
	</div>
	</br>	
		<div class="col-sm-2">
			<div class="row">
				<div class="col-sm-12"><strong>Filter by Region:</strong>
					<% @regions.each do |region| %>
						<li>
							<%= link_to truncate(region, length: 20, separator: ','), locations_path(filter: region), class: 'label label-info' %>
						</li>
					<% end %>
						<li>
							<%= link_to "All", locations_path, class: 'label label-info' %>
						</li>
				</div>
			</div>
	  	</div>
	</div>
 </br>
  </br>
   	<div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7">
            <div class="col-sm-2">
                <button class='btn btn-primary'><%= link_to 'Home',travel_calendars_path %></button>
            </div>
            <div class="col-sm-3">
                <button class='btn btn-primary'><%= link_to 'Full Month List',months_path %></button>
            </div>
            <div class="col-sm-2">
                <button class='btn btn-primary'><%= link_to 'Add New',new_location_path %></button>
            </div>
        </div> 
    </div> 
</div>